<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="payment_method_assign_data">
		<observer name="fpCreditCard_data_assign" instance="Magento\fpCreditCard\Observer\DataAssignObserver" />
	</event>	
	<!-- checkout_submit_all_after -->
	<event name="checkout_submit_all_after">
		<observer name="fpCreditCard_after_order" instance="Magento\fpCreditCard\Observer\SaveAllOrderStatusObserver" />
	</event>
	<event name="order_cancel_after">
		<observer name="fpCreditCard_order_cancel_after" instance="Magento\fpCreditCard\Observer\UpdateAllOrderStatusObserver" />		
	</event>

	<event name="sales_order_payment_void">
		<observer name="fpCreditCard_sales_order_payment_void" instance="Magento\fpCreditCard\Observer\UpdateAllOrderStatusObserver" />
		
	</event>
    <event name="sales_order_payment_refund">
		<observer name="fpCreditCard_sales_order_payment_refund" instance="Magento\fpCreditCard\Observer\UpdateAllOrderStatusObserver" />

	</event>

	<event name="sales_order_invoice_pay">
		<observer name="fpCreditCard_sales_order_invoice_pay" instance="Magento\fpCreditCard\Observer\UpdateAllOrderStatusObserver" />
	</event>
	 
	
	
	</config>
